@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Bookings";
}
<h4>Booking History</h4>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Facility</th>
            <th>Duration</th>
            <th>Status</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingDate</td>
                <td>@booking.StartTime.ToShortTimeString()</td>
                <td>@booking.EndTime.ToShortTimeString()</td>
                <td>@booking.Facility!.Name</td>
                <td>
                    @{
                        var dur = booking.EndTime - booking.StartTime;
                    } @dur
                </td>
                <td>@booking.Status.ToString()</td>
                <td>@booking.userEmail.ToString()</td>
                <td>
@*                    @if (booking.Status == "Pending")
                    {
                        <a class="btn btn-success" asp-action="Approve" asp-route-bookingId="@booking.Id">Approve</a>
                    }*@
                </td>
            </tr>
        }
    </tbody>
</table>
